#root {
    font-family: 'Tangerine', cursive;
    font-size: 25pt;
    color: black;
    text-align: center;
}
body {
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    background-image: url('fundoconvite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons { 
    border: 2px black;
    border-radius: 2px;
    padding: 6px 15px;
    font-weight: 750;
    margin: 8px;
    background-color: rgb(108, 163, 185);
    color: black;
    cursor: pointer;
}
p {
    font-family: 'Tangerine', cursive;
    font-size: 30pt;
}
.text-area {
    margin: 10px;
    border-radius: 5px;
}
#areas { 
    margin: 10px;
}
#choose-offset {
    font-size: 33px;
    font-family: 'Tangerine', cursive;
}
#key {
    padding: 3px;
    width: 135px;
    border-radius: 3px;
    margin: 10px;
}